{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h1>Personal Loan Manager</h1>
    <div class="list-of-links">
    <ul>
        <li><a href="{% url 'loan_list' %}">Loan List</a></li>
        <li><a href="{% url 'payment_list' %}">Payment List</a></li>
        <li><a href="{% url 'loan_create' %}">Create Loan</a></li>
        <li><a href="{% url 'payment_create' %}">Create Payment</a></li>
        <li><a href="{% url 'completed_loan_list' %}">Completed Loans</a></li>
        <li><a href="{% url 'upcoming_due_date_loan_list' %}">Upcoming Due Dates</a></li>
    </ul>
    </div>
{% endblock %}