{% extends 'base.html' %}

{% load static %}

{% block title %}Loan Detail Page{% endblock %}

{% block content %}
               {% if user.is_authenticated %}

    <div class="container">

    <div class="rows">
        <h3>ID: {{ loan_detail.id }}</h3>
        <h3>User: {{ loan_detail.user }}</h3>
        <p>amount due: {{ loan_detail.loan_amount }}</p>
        <p>description: {{ loan_detail.description }}</p>
        <p>created_at: {{ loan_detail.created_at }}</p>
        <p>updated_at: {{ loan_detail.updated_at }}</p>
        <p>due date: {{ loan_detail.due_date }}</p>
        <p>Status: {{ loan_detail.status }}</p>

    <h2>Payments Summary</h2>
    <p><strong>Total Payments Made:</strong> {{ total_payments }}</p>

    <h3>Payments:</h3>
    <ul>
        {% for payment in loan_detail.payments.all %}
            <li>
                <strong>Amount:</strong> {{ payment.payment_amount }}<br>
                <strong>Payment Date:</strong> {{ payment.payment_date }}<br>
            </li>
        {% empty %}
            <li>No payments found for this loan.</li>
        {% endfor %}

    </div>
        {% else %}
    <h1>You are not logged in. please login to view.</h1>
    {% endif %}
    </div>
    
{% endblock %}



{% block footer %}{% endblock %}