{% extends "base.html" %}
{% load static %}

{% block title %}Confirm Transaction Delete{% endblock %}

{% block content %}
        {% if user.is_authenticated %}

    <form method="post">
        {% csrf_token %}
    <h2> Are you sure you want to delete <span style="color: red">{{ object }}</span> ? </h2>
    <button type="submit">Delete</button>
    </form>
    <a href="{% url 'home' %}">Cancel</a>


{% else %}
    <h1>You are not logged in. please login to view.</h1>
    {% endif %}
{% endblock %}
